@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@300;700&display=swap");
body {
  background-color: #9e7676;
  font-family: "Turret Road", sans-serif;
  color: aliceblue;
}
.container {
  margin: auto;
  background-color: #553939;
  width: 100vw;
  text-align: center;
}

.dice {
  display: inline-block;
  text-align: center;
  margin: 20px;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}

img {
  width: 80%;
}

p {
  font-size: 2rem;
  font-weight: 300;
}

footer {
  margin-top: 15px;
  text-align: center;
}
